/* Reset de estilos */
@font-face {
  font-family: 'discord_sans';
  src: url('discord_sans_by_notsoartisty_dduxerr.woff2') format('woff2'),
       url('discord_sans_by_notsoartisty_dduxerr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'discord_sans', sans-serif;
  background-color: #36393f; /* Cor de fundo do Discord */
  color: #ffffff; /* Cor do texto */
  padding-top: 70px; /* Espaçamento para evitar que o cabeçalho cubra o conteúdo */
}

/* Restante do seu CSS continua aqui */


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #23272a; /* Cor de fundo do cabeçalho */
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Garante que o cabeçalho fique acima do conteúdo */
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; /* Espaçamento entre a logo e o menu de navegação */
}

.logo img {
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  border-radius: 50%; /* Tornar a imagem redonda */
}

nav {
  display: inline-block;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff; /* Cor do texto do menu de navegação */
  text-decoration: none;
  font-size: 1.2rem;
}

.add-bot {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; /* Espaçamento entre o botão e o menu de navegação */
}

.add-bot .button {
  background-color: #7289DA; /* Cor do Discord */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para o efeito 3D */
}

.add-bot .button:hover {
  background-color: #677bc4; /* Cor do Discord - mais escura */
  transform: translateY(-2px) translateZ(0); /* Efeito de levantar */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Sombra maior para o efeito 3D */
}

.conteudo {
  display: none;
  padding: 20px;
}

footer {
  background-color: #23272a; /* Cor de fundo do rodapé */
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o rodapé fique acima do conteúdo */
}

footer p {
  margin: 0;
  color: #ffffff; /* Cor do texto do rodapé */
  font-size: 1rem;
}
